@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 전체 */
div.login-wrap{
    width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
}

/* 로고 */
div.login-wrap h1{
    color: #03c75a;
    font-weight: 900;
    text-align: center;
    margin: 10% 0;
    font-size: 3.2rem;
}

/* 로그인 박스 전체 */
div.login-wrap div.login-box{
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
    width: 500px;
    margin: 0 auto;
}

/* 아이디, 비밀번호 입력창 */
div.login-wrap div.login-box input[type="text"],
div.login-wrap div.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #aaaaaa;
    width: 88%;
    height: 12%;
    font-size: 1.2rem;
    padding: 2%;
}
div.login-wrap div.login-box input[type="text"]{
    margin: 7% 5%;
}
div.login-wrap div.login-box input[type="password"]{
    margin: 1% 5% 5% 5%;
}

/* 로그인 상태 유지 전체 및 ip보안 */
div.login-wrap div.login-box .keep_login{
    float: left;
    margin: 20px 10px;
    width: 89%;
    font-size: 0.9rem;
}

/* IP보안 */
p{
    float: right;
}

/* 로그인 상태 유지 버튼 */
div.login-wrap div.login-box div.keep_login input{
    margin-left: 5%;
    padding-top: 3%;
}

/* 로그인 상태 유지 문구 */
div.login-wrap div.login-box div.keep_login label{
    display: inline-block;
    width: 150px;
    margin-left: 3%;

}

/* 버튼 전체 */
div.login-wrap div.login-box div.button_wrap{
    text-align: center;
    width: 100%;;
    clear: both;
    height: 18%;
}

/* 전체 각 버튼 별 CSS */
div.login-wrap div.login-box button{
    display: inline-block;
    width: 40%;
    height: 80%;
    border: 1px solid #aaaaaa;
    border-radius: 7px;
    margin: 2%;
    font-size: 1.07rem;
    cursor: pointer;
}

/* 로그인 버튼 */
div.login-wrap div.login-box button.login{
    background-color: #03c75a;
    color: white;
    font-weight: bold;
}

/* 링크 전체 */
div.login-wrap div.login-box div.etc{
    clear: both;
    text-align: center;
    margin-top: 5%;
}

div.login-wrap div.login-box div.etc .qr_login{
    border-right: 1px solid #aaaaaa;
    padding-right: 1%;
}

div.login-wrap div.login-box div.etc .qr_login,
div.login-wrap div.login-box div.etc .onetime_login{
    color: #111;
    text-decoration: none;
}